extends ../layout

block content
  .container(style="margin-top:40px")
    .row
      .col-md-8
        include shipping-order.pug
      .col-md-4
        // REVIEW ORDER
        include review-order.pug